<mat-nav-list>
    <div class="profile-card">
        
        <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
        <div class="header">
            <h2>Soufiane FADIL</h2>
            <h4>example@email.com</h4>
        </div>
    </div>

    <mat-divider></mat-divider>



    <a mat-list-item routerLink="/" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }" [class.list-item-active]="isActiveRoute('/')">Dashboard</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/posts" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }" [class.list-item-active]="isActiveRoute('/posts')"><mat-icon>people</mat-icon>Users</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/posts" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }" [class.list-item-active]="isActiveRoute('/posts')"><mat-icon>help</mat-icon>Questions</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/posts" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }" [class.list-item-active]="isActiveRoute('/posts')"><mat-icon>quiz</mat-icon>Quizzes</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/posts" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }" [class.list-item-active]="isActiveRoute('/posts')"><mat-icon>person_search</mat-icon>WantedProfils</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/posts" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }" [class.list-item-active]="isActiveRoute('/posts')"><mat-icon>vpn_key</mat-icon>KeyWords</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/posts" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }" [class.list-item-active]="isActiveRoute('/posts')"><mat-icon>person</mat-icon>MyProfil</a>
  

    <mat-divider></mat-divider>
  



</mat-nav-list>