/*:host {
    text-align: center;
    padding: 0 20px 20px 20px;
  }
  
  :host .mat-icon {
    vertical-align: middle;
    margin-right: 20px;
  }
  
  :host .profile-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }
*/
  
  :host {
    --mat-icon-vertical-align: middle;
    --mat-icon-margin-right: 20px;
    --profile-card-text-align: center;
    --profile-card-padding: 0 20px 20px 20px;
    }
    
    :host .mat-icon {
    vertical-align: var(--mat-icon-vertical-align);
    margin-right: var(--mat-icon-margin-right);
    }
    
    :host .profile-card {
    text-align: var(--profile-card-text-align);
    padding: var(--profile-card-padding);
    }
    
    :host .profile-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    }
    a {
      color: white; /* or any other color you want */
    }
    a.is-active {
      background: #5528db; /* or any other color you want */
    }
    